    <!-- Footer Row -->
    <div class="row" 
      style="background-color: #f9fbff; height: 80px; ">
	    <div class="col-4" style="padding: 10px">
			<h5>TOTAL BUY RATE</h5> 
			<p><h5>GHS {{totaBuyRate}}</h5></p>
		</div>
		<div class="col-4" style="padding: 10px" >
			<h5>TOTAL BREAK-UP RATE</h5> 
			<p><h5>GHS {{sellingRates}}</h5></p>
		</div>
		<div class="col-4" style="padding: 10px">
			<h5>PROFITE PERCENTAGE</h5> 
			<p><h5>-{{totalBreakupRate}}%</h5></p>
		</div>
	</div><!-- Footer Row ends here-->