	<!-- NAV BAR -->
	<header></header>
     <!-- NAV BAR ends here-->

    <!-- ALERT MESSAGE -->
    <alert></alert>
     <!-- ALERT MESSAGE ends here-->

	<div class="container-fluid">
      <div class="row" ><!-- LHS RHS CONTAINER ROW -->
        <!-- L.H.S. -->
        <div class="col-sm-5" style="background-color:#f2f2f2" id="LHS">
          <div class="row" style=" margin: 30px">
             <div class="col-sm-6">
               <h5>BUYING RATES</h5>
             </div> 
             <div class="col-sm-6" >
               <button type="button" class="btn btn-primary" 
               data-toggle="modal" data-target="#pageRefreshConfirmationModal"
                >COPY ALL LEGS</button>
             </div> 
         </div> 

        <!-- LEG LIST -->
        <div ng-repeat="legData in legDataDetails">
         <div class="row" style=" margin-top: 30px;" >
             <div class="col-sm-6">
               <h5>{{legData.rate_card_meta.leg_name}}</h5>
             </div> 
             <div class="col-sm-6" >
               <h5>TOTAL: GHS {{legData.rate_card_obj.card_meta.total_cost | number: 0}}
               </h5>
             </div> 
         </div> 
         <table class="table" style="width:100%; background-color: white; ">
         <thead>
              <tr>
                <th scope="col">Charges</th>
                <th scope="col" >Final Amount</th>
              </tr>
         </thead >
        </table>
         <div style="width:100%;overflow:auto; max-height:200px;">
           <table class="table" style="background-color: white" >
	            <tbody >
	              <tr ng-repeat="card in legData.rate_card_obj.card_charges">
	                <td>{{card.charge_name}}</td>
	                <td>{{card.total}}</td>
	              </tr>
	            </tbody>
          </table>
         </div>

         <div class="row justify-content-end">
 			<div class="col-6 form-inline" style="float: right;">
 				<a href="#" ng-click="showLegOnRHS(legData)">
 					<h5>COPY</h5>
 				</a> &nbsp;&nbsp; <h5>OR</h5> &nbsp;
	         	<input type="number"
	         	 min="0" max="99" 
	         	 class="form-control" style="width: 100px" >
	         	<button class="btn btn-primary">OK</button>
 			</div>        	
         </div>
        </div><!-- LEG LIST ends here-->
          
       </div><!-- L.H.S. ends here-->

        <!-- R.H.S  -->
        <div class="col-sm-7" style="background-color: #f4f7fc" id="RHS">
          <div class="row" style=" margin: 30px">
             <div class="col-sm-6">
               <h5>YOUR SELLING RATES</h5>
             </div> 
             <div class="col-sm-3" >
               <button type="button" class="btn btn-primary"
               ng-click="showAddLegModal()">CREATE NEW LEG</button>
             </div> 
             <div class="col-sm-3" >
               <button type="button" class="btn btn-primary"
               ng-click="hideChargeDetails()">HIDE/SHOW CHARGE DETAILS</button>
             </div> 
         </div> 

         	<!-- R.H.S. SELECTED LEG DETAIL -->
         	<div ng-show="showLeg">
	         <div class="row" style=" margin-top: 30px">
	               <div class="col-sm-9">
	                 <h5>{{rhsSelectedLedData.rate_card_meta.leg_name}}</h5>
	               </div> 
	               <div class="col-sm-3" >
	                 <h5 style="float: center;">TOTAL: GHS    {{rhsSelectedLedData.rate_card_obj.card_meta.total_cost | number: 0}}
	                 </h5>
	               </div> 
	         </div>

	         <div ng-show="showChargeDetails">  <!-- show charge detailds --> 
		        <table class="table" style="width:100%; background-color: white; ">
		         <thead>
		              <tr>
		                <th scope="col">Charge</th>
		                <th scope="col" >Basis</th>
		                <th scope="col">Amount</th>
		                <th scope="col" >Final Amount</th>
		              </tr>
		         </thead >
		        </table>
	        
	         <div style="width:100%;overflow:auto; max-height:200px;">
	           <table class="table" style="background-color: white" >
		            <tbody >
		              <tr ng-repeat="card in rhsSelectedLedData.rate_card_obj.card_charges 
		              ">
		                <td>{{card.charge_name}}</td>
		                <td>{{card.basis}}</td>
		                <td>{{card.charge_currency}} {{card.amount}}</td>
		                <td>{{rhsSelectedLedData.rate_card_obj.card_meta.currency}}
		                 {{card.total}}</td>
		                <td><i class="material-icons"
		                	ng-click="editCharge(card.charge_name)">create</i></td>
		                <td><i class="material-icons"
		                	ng-click="removeCharge(card.charge_name)">delete</i></td>
		              </tr>
		            </tbody>
	          </table>
	         </div>


             <div class="row" style=" margin: 30px">
                   <div class="col-sm-7">
                   </div> 
                   <div class="col-sm-2" >
                      <a href="#" ng-click="removeLeg()"><h5>REMOVE LEG</h5></a> <br/>
                   </div> 
                   <div class="col-sm-3" >
                      <a href="#" ng-click="showAddChargeModal()"><h5>ADD ANOTHER CHARGE</h5></a>
                   </div> 
             </div> 
           </div><!-- show charge detailds ends here -->  
           </div><!-- R.H.S. SELECTED LEG DETAIL ends here-->



            <!-- R.H.S. All LEGS -->
	        <div ng-repeat="legData in legDataDetails" ng-show="showAllLegs" 
	           >
	         <div class="row" style=" margin-top: 30px;" >
	             <div class="col-sm-6">
	               <h5>{{legData.rate_card_meta.leg_name}}</h5>
	             </div> 
	             <div class="col-sm-6" >
	               <h5>TOTAL: GHS {{legData.rate_card_obj.card_meta.total_cost | number: 0}}
	               </h5>
	             </div> 
	         </div> 


	         <div ng-show="showChargeDetails"> 
	         <table class="table" style="width:100%; background-color: white; ">
	         <thead>
	              <tr>
	                <th scope="col">Charges</th>
	                <th scope="col" >Basis</th>
	                <th scope="col">Amount</th>
	                <th scope="col" >Final Amount</th>
	              </tr>
	         </thead >
	        </table>
	         <div style="width:100%;overflow:auto; max-height:200px; 
	            margin-bottom: 60px">
	           <table class="table" style="background-color: white" >
		            <tbody >
		              <tr ng-repeat="card in legData.rate_card_obj.card_charges">
		                <td>{{card.charge_name}}</td>
		                <td>{{card.basis}}</td>
		                <td>{{card.charge_currency}} {{card.amount}}</td>
		                <td>{{legData.rate_card_obj.card_meta.currency}}
		                  {{card.total}}</td>
		              </tr>
		            </tbody>
	           </table>
	          </div>
	         </div>
	        </div><!-- R.H.S. All LEGS ends here-->

          </div><!-- R.H.S  ends here-->
      </div><!-- LHS RHS CONTAINER ROW ends here-->
    </div>
    
    <!-- FOOTER -->
	<footer></footer>
	<!-- FOOTER ends here-->

	<!-- ALL MODALS -->
    <!-- CAHRGE EDIT MODAL -->
    <charge-edit-modal></charge-edit-modal>
    <!--CHARGE EDIT MODAL ends here-->

	<!--ADD NEW CHARGE MODAL -->
	<add-new-charge-modal></add-new-charge-modal>
	<!-- ADD NEW CHARGE MODAL ends here-->

	<!--ADD NEW LEG MODAL -->
	<add-new-leg-modal></add-new-leg-modal>
	<!--ADD NEW LEG MODAL ends here-->

	<!-- Confirmation MODAL -->
	<confirmation-modal></confirmation-modal>
	<!-- Confirmation MODAL ends here-->